 body {
     font-family: 'Arial', sans-serif;
     margin: 0;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(to right, #d9cce8, #2575fc);
 }

 .welcome {
    font-size: 25px;
        font-weight: bold;
        transition: background-color 0.3s ease;
          color:azure;
            padding: 10px 15px;
          
 }
//  .background {
//      background-image: url('/public/yellow-steel-stationery-blue-table.jpg');
//      /* relative to the public folder */
//      background-size: cover;
//      /* cover the whole container */
//      background-position: center;
//      /* center the image */
//      background-repeat: no-repeat;
//      /* no repeating */
//      height: 100vh;
//      /* Full height of the viewport */
//  }
 
 button {
     background-color: #2575fc;
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     width: 100%;
     font-size: 16px;
     font-weight: bold;
     transition: background-color 0.3s ease;

     &:hover {
         background-color: #1b5bb8;
     }
 }